{% extends "base.html" %}

{% block content %}

<script>
    page = ACCOUNT_PAGE;
    let account = JSON.parse('{{ account | tojson | safe }}');
    const UI_THEMES = JSON.parse('{{ UI_THEMES | tojson | safe }}');
    const SUPPORTED_UI_LANGUAGES = JSON.parse('{{ SUPPORTED_UI_LANGUAGES | tojson | safe }}');
</script>

<script src="../static/js/pages/account_page.js" defer></script>

<style>
    html {
        overflow: hidden;
    }
</style>

<div id="profileContainer" class="container-form right-shifted" style="min-height: 100vh; width: 50%; margin: auto;">
    <div class="base-container">
        <div class="profile-picture-upload">
            <label for="profilePictureUpload" class="profile-picture-upload-button">
                <img id="profilePicturePreview" src="/get_profile_picture" alt="Profile Placeholder">
            </label>
            <input type="file" id="profilePictureUpload" accept="image/*" hidden>
        </div>

        <p id="errorMessageProfileField" class="message error" style="margin: 0px; margin-top: 15px;"></p>
        
        <div class="input-field-container" style="width: 100%;">
            <p id="profileNameTitle" class="input-field-title gradient-background">Name</p>
            <input id="profileNameTxt" class="input-field" type="text" placeholder="Name">
        </div>

        <div class="input-field-container" style="width: 100%;">
            <p id="profileLanguageTitle" class="input-field-title gradient-background">Language</p>
            <select id="profileLanguageSelect" class="input-field"></select>
        </div>

        <div class="input-field-container" style="width: 100%;">
            <p id="profileThemeTitle" class="input-field-title gradient-background">UI Theme</p>
            <select id="profileUiThemeSelect" class="input-field"></select>
        </div>

        <div class="centered-flex">
            <button id="submitProfileBtn" onclick="updateProfile();">Save</button>
            <button id="deleteProfileBtn" onclick="deleteProfile();">Delete</button>
        </div>
    </div>
</div>

<div id="profilesContainer" class="container-form right-shifted" style="min-height: 100vh; width: 50%; margin: auto;">
    <div class="base-container">
        <h3 id="profileOverviewTitle" style="margin-top: 0px;">Profile Overview</h3>
        <div id="profileSelectContainer" class="centered-flex" style="flex-wrap: wrap;"></div>
    </div>
</div>

<div id="accountContainer" class="container-form right-shifted" style="min-height: 100vh; width: 50%; margin: auto;">
    <div class="base-container">
        <p id="errorMessageAccountField" class="message error" style="margin: 0px; margin-top: 15px;"></p>
        
        <div class="input-field-container" style="width: 100%;">
            <p id="accountEmailTitle" class="input-field-title gradient-background">Email</p>
            <input id="accountEmailTxt" class="input-field" type="text" placeholder="Email">
        </div>

        <p id="changePasswordBtn" onclick="passwordModalObject.show();" class="change-password-link">Change password</p>
    </div>
</div>
{% endblock %}