{% extends "base.html" %}

{% block content %}
<script>
    let page = AUTOMATIONS_PAGE;
    
    const DEVICE_CATEGORIES = JSON.parse('{{ DEVICE_CATEGORIES | tojson | safe }}');
    const DEVICE_MODELS = JSON.parse('{{ DEVICE_MODELS | tojson | safe }}');
    const AUTOMATION_TRIGGERS = JSON.parse('{{ AUTOMATION_TRIGGERS | tojson | safe }}');

    let automations = JSON.parse('{{ automations | tojson | safe }}');
    let actions = JSON.parse('{{ actions | tojson | safe }}');
    let modes = JSON.parse('{{ modes | tojson | safe }}');

    let devices = JSON.parse('{{ devices | tojson | safe }}');
    let groups = JSON.parse('{{ groups | tojson | safe }}');
</script>

<script src="../static/js/pages/automations_page.js" defer></script>

<link rel="stylesheet" media="screen and (max-device-width: 699px)" href="../static/css/styles_tiles_mobile.css">
<link rel="stylesheet" href="../static/css/styles_tiles.css">


<div id="automationContainer" class="flex-grid"></div>

{% endblock %}