{% extends "base.html" %}

{% block content %}
<script>
    page = CONFIGURATION_PAGE;

    var devices = JSON.parse('{{ devices | tojson | safe }}');
    var unconfiguredDevices = JSON.parse('{{ unconfigured_devices | tojson | safe }}');
    var groups = JSON.parse('{{ groups | tojson | safe }}');
    var logs = JSON.parse('{{ logs | tojson | safe }}');

    const LEDSTRIP_SENSOR_MODELS = JSON.parse('{{ LEDSTRIP_SENSOR_MODELS | tojson | safe }}');
    const DEVICE_TYPES = JSON.parse('{{ DEVICE_TYPES | tojson | safe }}');
    const DEVICE_CATEGORIES = JSON.parse('{{ DEVICE_CATEGORIES | tojson | safe }}');
    const DEVICE_MODELS = JSON.parse('{{ DEVICE_MODELS | tojson | safe }}');
    
    const SUPPORTED_UI_LANGUAGES = JSON.parse('{{ SUPPORTED_UI_LANGUAGES | tojson | safe }}');

    var weatherServiceEnabled = "{{ weather_service_enabled }}" == "True";
    var weatherApiKey = "{{ weather_api_key }}";
    var telegramServiceEnabled = "{{ telegram_service_enabled }}" == "True";
    var telegramBotToken = "{{ telegram_bot_token }}";
    var rpiRfReceiverEnabled = "{{ rpi_rf_receiver_enabled }}" == "True";

    /* List of update files */
    var otaVersionsReady = JSON.parse('{{ ota_files | tojson | safe }}');
    var currentLedstripFirmwareVersion = "v0.0.0";
</script>

<script src="../static/js/user_and_module_utilities.js" defer></script>
<script src="../static/js/configuration_page.js" defer></script>
<link rel="stylesheet" href="../static/css/styles_tiles.css">

<dialog id="iconModal" class="modal" style="width: 30%; box-shadow: var(--shadow-large);">
    <i class="fa-solid fa-xmark close-modal-button clickable" target-modal="iconModal"></i>
    <h3 id="iconModalTitle" style="margin-top: 0px;">Pick icon</h3>
    
    <div id="iconPickerContainer" class="icon-grid"></div>
</dialog>

<dialog id="deviceModal" class="modal">
    <i class="fa-solid fa-xmark close-modal-button clickable" target-modal="deviceModal"></i>
    <h3 id="deviceModalTitle" style="margin-top: 0px;">Add device</h3>

    <div style="display: flex; flex-direction: row;">
        <div id="deviceCategoryContainer" style="display: flex; flex-direction: column;"></div>

        <div style="display: flex; flex-direction: column;">
            <div id="deviceModelContainer" class="flex-grid" style="justify-content: center; gap: 0px;"></div>

            <div id="searchingDevicesContainer" class="centered-flex" style="gap: 5px;">
                <div id="" class="dot-loader"></div>
                <p id="searchingDevicesTitle">Looking for devices</p>
            </div>
            <div id="automaticDevicePairContainer" class="flex-grid" style="justify-content: center; margin-bottom: 15px; display: none;"></div>
        </div>
    </div>
    
    <div id="manualDevicePairContainer" style="display: none;">
    </div>
</dialog>

<dialog id="ledstripModal" class="modal">
    <i class="fa-solid fa-xmark close-modal-button clickable" target-modal="ledstripModal"></i>
    <h3 id="ledstripModalTitle" style="margin-top: 0px;">Add ledstrip</h3>
    <p id="errorMessageLedstripField" class="message error" style="margin: 0px;"></p>

    <table id="unconfiguredLedstripTable" style="display: none;"></table>

    <fieldset>
        <legend id="ledstripTitle">Ledstrip</legend>

        <div style="text-align: center;">
            <div class="input-field-container" style="width: 100%;">
                <p id="ledstripNameTitle" class="input-field-title">Name</p>
                <input id="ledstripNameTxt" class="input-field" type="text" placeholder="Name">
            </div>

            <div class="input-field-container" style="width: 100%;">
                <p id="ledstripHostnameTitle" class="input-field-title">Hostname</p>
                <input id="ledstripHostnameTxt" class="input-field" type="text" placeholder="Hostname">
            </div>

            <div class="input-field-container" style="width: 100%;">
                <p id="ledstripModelTitle" class="input-field-title">Model</p>
                <select id="ledstripModelSelect" class="input-field"></select>
            </div>

            <div style="display: flex;">
                <div class="input-field-container">
                    <p id="ledstripIconTitle" class="input-field-title field-title-button">Icon</p>
                    <button id="ledstripIconBtn" class="icon-button" onclick="loadIconModal('ledstripIconTxt')" style="width: 50px; height: 50px;"><i id="ledstripIconTxt"></i></button>
                </div>

                <div class="input-field-container">
                    <p id="ledstripIconLowStateTitle" class="input-field-title field-title-button">Icon not active</p>
                    <button id="ledstripIconLowStateBtn" class="icon-button" onclick="loadIconModal('ledstripIconLowStateTxt')" style="width: 50px; height: 50px;"><i id="ledstripIconLowStateTxt"></i></button>
                </div>
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend id="ledstripSensorTitle">Sensor</legend>
        
        <div style="text-align: center;">
            <div style="display: flex; margin: 0px 10px;">
                <div>
                    <p id="ledstripHasSensorTitle" class="input-field-title range-title">Has Sensor</p>
                    <label class="switch" style="margin: 15px;">
                        <input id="ledstripHasSensorCb" type="checkbox" onchange="toggleLedstripHasSensor();">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div id="ledstripSensorInvertedContainer">
                    <p id="ledstripSensorIsInvertedTitle" class="input-field-title range-title">Inverted</p>
                    <label class="switch" style="margin: 15px;">
                        <input id="ledstripSensorIsInvertedCb" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div id="ledstripSensorModelContainer" class="input-field-container">
                    <p id="ledstripSensorModelTitle" class="input-field-title">Sensor model</p>
                    <select id="ledstripSensorModelSelect" class="input-field" style="width: 100%;">
                        <option value=""></option>
                        <option value="0">ContactSensor</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <button id="submitLedstripBtn" onclick="addLedstrip();">Submit</button>
</dialog>

<dialog id="rfDeviceModal" class="modal">
    <i class="fa-solid fa-xmark close-modal-button clickable" target-modal="rfDeviceModal"></i>
    <h3 id="rfDeviceModalTitle" style="margin-top: 0px;">Add RF Device</h3>
    <p id="errorMessageRfDeviceField" class="message error" style="margin: 0px;"></p>

    <div class="input-field-container" style="width: 100%;">
        <p id="rfDeviceNameTitle" class="input-field-title">Name</p>
        <input id="rfDeviceNameTxt" class="input-field" type="text" placeholder="Name">
    </div>

    <div style="display: flex;">
        <div class="input-field-container">
            <p id="rfDeviceIconTitle" class="input-field-title field-title-button">Icon</p>
            <button id="rfDeviceIconBtn" class="icon-button" onclick="loadIconModal('rfDeviceIconTxt')" style="width: 50px; height: 50px;"><i id="rfDeviceIconTxt"></i></button>
        </div>

        <div id="rfDeviceIconLowStateContainer" class="input-field-container">
            <p id="rfDeviceIconLowStateTitle" class="input-field-title field-title-button">Icon not active</p>
            <button id="rfDeviceIconLowStateBtn" class="icon-button" onclick="loadIconModal('rfDeviceIconLowStateTxt')" style="width: 50px; height: 50px;"><i id="rfDeviceIconLowStateTxt"></i></button>
        </div>
    </div>

    <div id="rfCodesContainer"></div>
    
    <table id="rfCodesTable" style="display: table; width: 70%;"></table>

    <button id="submitRfDeviceBtn" onclick="addRfDevice();">Submit</button>
</dialog>

<dialog id="groupModal" class="modal">
    <i class="fa-solid fa-xmark close-modal-button clickable" target-modal="groupModal"></i>
    <h3 id="groupModalTitle" style="margin-top: 0px;">Add group</h3>
    <p id="errorMessageGroupField" class="message error" style="margin: 0px;"></p>
    
    <div class="input-field-container">
        <p id="groupNameTitle" class="input-field-title">Name</p>
        <input id="groupNameTxt" class="input-field" type="text" placeholder="Name">
    </div>

    <div class="input-field-container">
        <p id="groupIconTitle" class="input-field-title field-title-button">Icon</p>
        <button id="groupIconBtn" class="icon-button" onclick="loadIconModal('groupIconTxt')" style="width: 50px; height: 50px;"><i id="groupIconTxt"></i></button>
    </div>

    <div id="groupTypeSelectContainer" class="input-field-container">
        <p id="groupTypeSelectTitle" class="input-field-title">Type</p>
        
        <select id="groupTypeSelect" class="input-field" onchange="updateGroupDevices();">
            <option value="0">Ledstrips</option>
            <option value="1">Sensors</option>
        </select>
    </div>

    <div id="groupDevicesContainer" class="flex-grid" style="margin: 20px auto; justify-content: center;"></div>

    <button id="submitGroupBtn" onclick="addGroup();">Submit</button>
</dialog>

<div class="container-form">
    <div class="base-container">
        <div style="display: flex; gap: 10px; align-items: baseline; justify-content: center;">
            <h2 style="margin-top: 0px;">Configure devices</h2>
            <i class="fa-duotone fa-solid fa-plus clickable" onclick="loadDeviceModal();"></i>
        </div>

        <div id="devicesContainer" style="display: flex; justify-content: space-evenly; flex-wrap: wrap; gap: 10px;"></div>
    </div>
</div>

<div class="container-form">
    <div class="base-container">
        <table class="scrollable-table-container-table">
            <tr>
                <td class="scrollable-td">
                    <table id="logTableHeader" class="scrollable-table-header"></table>
                </td>
            </tr>
            <tr>
                <td class="scrollable-td">
                    <div class="scrollable-table-container">
                        <table id="logTable" class="scrollable-table" style="table-layout: fixed;"></table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container-form">
    <div class="base-container">
        <h3 style="margin-top: 0px;">Firmware updates</h3>
        <table class="small-table">
            <tbody>
                <tr>
                    <td style="border: 0px;">
                        <p id="currentVersionTitle" class="p-button">Current main controller version:</p>
                    </td>
                    <td style="border: 0px;">
                        <b id="currentLedstripFirmwareVersionField"></b>
                    </td>
                </tr>
            </tbody>
        </table>

        <fieldset>
            <legend id="">LED strip firmware update</legend>

            <div class="flex" style="text-align: center; flex-direction: column; gap: 0px;">
                <div class="full-width">
                    <input id="otaPackageFileUpload" type="file" multiple accept=".bin" onchange="addOtaPackage();" style="display: none;">
                    <label class="button label-button minimal-height-button" for="otaPackageFileUpload" style="margin: 10px auto; width: 220px;">
                        <div style="margin: 10px;">
                            <i class="fa-solid fa-upload margin-r-5px"></i>
                            <p id="uploadOtaPackageBtnTitle" class="p-button">Upload and install firmware package</p>
                        </div>
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="container-form">
    <div class="base-container">
        <p id="errorMessageModuleConfigurationField" class="message error" style="margin-top: 0px;"></p>
            <fieldset style="margin-top: 0px;">
                <legend id="modulesTitle">Modules</legend>

            <div class="flex-wrap" style="margin: 10px 20px;">
                <fieldset style="margin-top: 0px; width: 30%; flex: auto; min-width: 250px; max-width: 500px;">
                    <legend id="weatherIntegrationTitle"><a href="https://www.visualcrossing.com/weather-api">VisualCrossing</a> weather integration</legend>

                    <div class="switch-input-container">
                        <label class="switch" style="margin: 15px;">
                            <input id="weatherServiceEnabledCb" type="checkbox" onclick="toggleWeatherServiceEnabled();">
                            <span class="slider round"></span>
                        </label>

                        <div class="input-field-container" style="margin: 10px;">
                            <p id="weatherApiKeyTitle" class="input-field-title gradient-background">API key</p>
                            <input id="weatherApiKeyTxt" class="input-field disabled" type="text" placeholder="API key" onchange="submitWeatherModuleConfiguration();" disabled>
                        </div>
                    </div>
                </fieldset>

                <fieldset style="margin-top: 0px; width: 30%; flex: auto; min-width: 250px; max-width: 500px;">
                    <legend id="telegramIntegrationTitle"><a href="https://core.telegram.org/bots/tutorial">Telegram</a> integration</legend>

                    <div class="switch-input-container">
                        <label class="switch" style="margin: 15px;">
                            <input id="telegramServiceEnabledCb" type="checkbox" onclick="toggleTelegramServiceEnabled();">
                            <span class="slider round"></span>
                        </label>

                        <div class="input-field-container" style="margin: 10px;">
                            <p id="telegramBotTokenTitle" class="input-field-title gradient-background">Bot Token</p>
                            <input id="telegramBotTokenTxt" class="input-field disabled" type="text" placeholder="Telegram Bot Token" onchange="submitTelegramModuleConfiguration();" disabled>
                        </div>
                    </div>
                </fieldset>

                <fieldset style="margin-top: 0px; width: 20%; flex: auto; min-width: 250px; max-width: 300px;">
                    <legend id="rpiRfModuleTitle">Raspberry Pi RF receiver enabled</legend>
                    <div class="centered-flex" style="margin: 10px 0px;">
                        <label class="switch" style="margin: 15px;">
                            <input id="rpiRfModuleEnabledCb" type="checkbox" onclick="submitRpiRfModuleEnabled();">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
</div>

<button id="resetToFactoryConfigurationBtn" onclick="resetToFactoryConfigurationConfirm();">Reset to factory settings</button>
{% endblock %}