{% extends "base.html" %}

{% block content %}

<script>
    page = LEDSTRIP_PAGE;

    var groupSelected = "{{group_selected}}" == "True";
    var sensorOrGroupId = parseInt("{{id}}");
    var powerAnimations = JSON.parse('{{ power_animations | tojson | safe }}');
    var palettes = JSON.parse('{{ palettes | tojson | safe }}');
    var stripOrGroup;
    var devices;

    if (groupSelected) {
        stripOrGroup = JSON.parse('{{ group | tojson | safe }}');
        devices = JSON.parse('{{ devices | tojson | safe }}');
    } else {
        stripOrGroup = JSON.parse('{{ ledstrip | tojson | safe }}');
    }
    var modeConfigs = JSON.parse('{{ mode_configurations | tojson | safe }}');
</script>

<script src="../static/js/control_ledstrip_page.js" defer></script>
<link rel="stylesheet" href="../static/css/styles_tiles.css">
<link rel="stylesheet" media="screen and (max-device-width: 699px)" href="../static/css/styles_tiles_mobile.css">

<dialog id="configurationModal" class="modal small-bottom-modal">
    <b id="configurationModalTitle" class="input-field-container" style="margin-top: 0px;">Configure mode</b>
    <p id="errorMessageModeConfigurationField" class="message error" style="margin: 5px auto; width: max-content;"></p>

    <div id="configurationVariablesContainer"></div>
</dialog>

<div class="container-form">
    <div class="wrap-form">
        <p id="ledstripMessageField" class="message warning" style="margin-top: 0px;"></p>
        <div class="flex" style="flex-direction: column;">
            <fieldset style="margin-top: 0px;">
                <legend id="basicsTitle">Basics</legend>
                <div style="display: flex; align-items: center; margin: 0px 20px;">
                    <div class="basics-fieldset-margin" style="width: 40%;"></div>
                    <label class="switch" style="margin: 15px;">
                        <input id="powerCb" type="checkbox" onclick="setPower();">
                        <span class="slider round"></span>
                    </label>

                    <div class="input-field-container" style="width: 50px;">
                        <p id="colorTitle" class="input-field-title gradient-background">Color</p>
                        <input id="colorColor" type="color" class="input-field"/>
                    </div>
                    <div class="basics-fieldset-margin" style="width: 40%;"></div>
                </div>
                <div class="input-field-container">
                    <p id="brightnessTitle" class="range-title" style="background-color: transparent;">Brightness</p>
                    <input id="brightnessRange" type="range" min="10" max="255" onchange="setBrightness();" style="width: 100%;"/>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="container-form">
    <div class="wrap-form">
        <h3 id="selectModeTitle" style="margin-top: 0px;">Select mode</h3>

        <div id="modeButtonContainer" class="flex-grid" style="justify-content: center;"></div>
    </div>
</div>

<div class="container-form">
    <div class="wrap-form">
        <div class="flex" style="flex-direction: column;">
            <div class="input-field-container">
                <p id="powerAnimationSelectTitle" class="input-field-title gradient-background">Select power animation</p>
                <select id="powerAnimationSelect" class="input-field" onchange="setPowerAnimation();"></select>
            </div>
        </div>
    </div>
</div>

{% endblock %}