/******************************************************************************/
/*
 * File:    styles_mobile.css
 * Author:  Luke de Munk
 * Version: 0.9.0
 * 
 * Brief:   Additional styles for mobile version.
 *
 *          More information:
 *          https://github.com/LukedeMunk/zyrax-home-main-controller
 */
/******************************************************************************/
/* #region Base elements */
h1 {
    font-size: var(--font-size-h1-mobile);
}

h2 {
    font-size: var(--font-size-h2-mobile);
}

h3 {
    font-size: var(--font-size-h3-mobile);
}

h4 {
    font-size: var(--font-size-h4-mobile);
}

p {
    font-size: var(--font-size-small);
}

nav i {
    font-size: var(--font-size-h3);
}

.page {
    left: 5%;
    width: 90%;
}

.base-container {
    padding: 50px 10px;
    margin-bottom: 30px !important;
}

.flex {
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.banner {
    margin: auto;
    width: 85%;
}

.half-width {
    width: 90% !important;
}

select {
    appearance: none;
    height: 30px !important;
    min-height: 30px !important;
    -webkit-appearance: menulist-button; /* For iOS compatibility */
}

fieldset {
    width: 100%;
}

.navigation-item-title {
    display: none;
}

.banner-stack {
    right: 50%;
    transform: translateX(50%);
    width: 90%;
}

.popup-container {
    width: 80%;
}

.basics-fieldset-margin {
    display: none;
}
/* #endregion */

/* #region Custom mobile styles */
.big-modal {
    width: 100%;
}

.small-bottom-modal {
    width: 98%;
    min-width: 200px;
    padding-bottom: 25px;
    bottom: -20px;
}

.container-form.welcome {
    width: 98% !important;
    min-width: 200px;
}

.sidebar {
    width: 20%;
    min-width: 50px;
}

.right-shifted {
    transform: translateX(50px);
}

.sidebar-menu-item-title {
    display: none !important;
}

.sidebar-menu li {
    justify-content: center;
    margin-bottom: 30px;
    font-size: var(--font-size-h3);
}

.profile-picture-upload-button {
    width: 80px;
    height: 80px;
}
/* #endregion */